@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

.movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #121212;
    font-family: 'Poppins', sans-serif;
}

.movie-card {
    background: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    padding: 20px;
    text-align: center;
    color: white;
    transition: transform 0.3s ease-in-out;
}

.movie-card:hover {
    transform: scale(1.05);
}

.movie-card img {
    width: 100%;
    border-radius: 10px;
    height: 300px;
    object-fit: cover;
}

h2 {
    font-size: 20px;
    margin: 10px 0;
    font-weight: 600;
}

p {
    font-size: 14px;
    margin: 5px 0;
    color: #bbb;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 12px;
    color: #ddd;
}

.book-button {
    background: #e50914;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-top: 10px;
}

.book-button:hover {
    background: #ff3d47;
    transform: scale(1.1);
}

.logout-button {
    position: absolute;
    top: 10px;
    right: 20px;
    background: #ff4d4d;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
  }
  
  .logout-button:hover {
    background: #cc0000;
  }
  
